.container {
  position: fixed;
  width: 100%;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.936);
  color: white;
  padding: 0.3rem 1rem;
  /* position: fixed; */
  width: 100%;
}

.sideNavLinks li {
  list-style: none;
}

.sideNavLinks li a:hover{
    color: rgb(142, 145, 149);
}

.sideNavLinks li a {
  color: white;
  text-decoration: none;
}

.sideNavLinks li a.active {
  color: black;
  background-color: white;
  padding: 2px ;
  border-radius: 3px;
  transition: 1.4ms ease-in-out;
}
.sideNavLinks {
  display: flex;
  gap: 1.3rem;
  font-size: 22px;
}

.counter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 23px;
  justify-content: center;
}

.item {
 min-width: 200px;
  padding: 10px 10px 30px;
  height: 330px;
  margin: 30px auto ;
  background-color: azure;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgb(84, 141, 160);
}

.itemsGrid{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
  margin-left: 20px;
  padding-top: 120px;
}

.itemImg {
  width: 170px;
  height: 160px;
  display: block;
  margin: 0 auto;
}

.counterBtn {
  background-color: rgb(135, 148, 163);
  border: none;
  width:  20px;
  padding: 3px;
  border-radius: 4px;
  font-size: 23px;
  color: white;

}

.cartBtn {
  border: none;
  padding: 8px 8px;
  background-color: rgb(14, 14, 14);
  color: white;
  margin: 10px auto;
  display: block;
  border-radius: 6px;
}

.categoriesList ul{
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.categoriesList{
  padding:  5px;
  background-color: rgba(0, 0, 0, 0.908);
  border-top: 0.2px solid rgba(255, 255, 255, 0.715);
}

.categoriesList h2 {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.categoriesList li > a{
  color: white;
  text-decoration: none;
}


.categoriesList li a.active{
   color: black;
  background-color: white;
  padding: 2px ;
  border-radius: 3px;
  transition: 1.4ms ease-in-out;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-count-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 6px;
}

.cart-icon-container a{
  text-decoration: none;
  color: white;
}